
// COLORS:
:root {
  --violet: hsl(263, 55%, 52%); 
  --dark-gray-blue: hsl(217, 19%, 35%);
  --dark-black-blue: hsl(219, 29%, 14%);
  --white: hsl(0, 0%, 100%);
  
  // Tints:
  --light-violet: hsl(264, 82%, 70%);
  --light-gray: hsl(0, 0%, 81%); // text 1 card
  --light-gray-blue: hsl(218, 5%, 57%);
  --light2-gray-blue: hsl(210, 46%, 95%);
}






