// Import all. (also works with nameSpace)
@use '../util' as *;

// SECTION:
.section-testimonials {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  // Small-phone
  @include respond(sm-phone) {
    padding: 7.1rem 2.4rem;
  }
  // Phone Landspace
  @include respond(phone-landscape) {
    padding: 7.5rem 2.4rem;
  }
}

// CONTAINER:
.testimonials-container {
  max-width: 111rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 3rem;
  row-gap: 2.4rem;

  // Small-phone
  @include respond(sm-phone) {
    min-height: 18.24rem;
    grid-template-columns: 1fr;
    column-gap: 0;
  }
  // Phone Landscape
  @include respond(phone-landscape) {
    min-height: 18.24rem;
    grid-template-columns: 1fr;
    column-gap: 0;
  }
}

// TESTIMONIAL:
.testimonial {
  border-radius: 8px;
  box-shadow: 40px 60px 50px -47px rgba(72, 85, 106, 0.247378);
  padding: 2.6rem 3.2rem;
  position: relative;
  z-index: 999;

  &--quote::after {
    content: url(/images/bg-pattern-quotation.svg);
    position: absolute;
    top: 0;
    right: 8rem;
    font-size: 10.4rem;
    color: var(--light-violet);
    z-index: -100;

    // Small-phone
    @include respond(sm-phone) {
      right: 2.4rem
    }
    // Phone Landscape
    @include respond(phone-landscape) {
      right: 2.4rem
    }
  } 

  &__person {
    display: flex;
    gap: 1.7rem;
  }

  &__img {
    width: 2.8rem;
    height: 2.8rem;
    object-fit: cover;
    border-radius: 50%;
  }

  &__name {
    font-size: 1.3rem;
    line-height: 1.3rem;
    // COLORS:
    &--gray-blue {
      color: var(--dark-gray-blue);
    } 
  }

  &__graduate {
    font-size: 1.1rem;
    line-height: 1.1rem;
    margin-top: .3rem;
    color: var(--light-gray);
    // COLORS:
    &--light-blue {
      color: var(--light-gray-blue);
    }
  }

  &__heading {
    font-size: 2rem;
    font-weight: 600;
    line-height: 2.4rem;
    margin-top: 1.8rem;
    // COLORS:
    &--dark-gray {
      color: var(--dark-gray-blue);
    }
    &--gray-light {
      color: var(--light2-gray-blue);
    }
    &--light-gray-blue {
      color: var(--light2-gray-blue); 
    }
  }

  &__text {
    font-size: 1.3rem;
    margin-top: 2.4rem;

    &:nth-of-type(1),
    &:nth-of-type(2) {
      margin-top: 1.6rem;
    }

    // // Small-phone: :/ 2. Try > Frst profile on mobile > margin-top: 4rem; 
    // &:nth-of-type(1) {
    //   @include respond(sm-phone) {
    //     margin-top: 4rem;    
    //   }
    // }

    // COLORS:
    &--gray {
      color: var(--light-gray);
    }
    &--light-gray-blue {
      color: var(--light-gray-blue); 
    }

    &:first-of-type {
      // Small-phone
      @include respond(sm-phone) {
          margin-right: 1.6rem;    
      }
      // Phone Landscape
      @include respond(phone-landscape) {
          margin-right: 1.6rem;    
      }
    }
  }
}




















